
.todo-button {
  background-color: #E1E7EB;
  width: 100px;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.todo-button.complete {
  background-color: #D9D9D9;
}

